.placeholder {
  background: rgba(255, 0, 0, 0.5);
  height: 150px;
  border: 1px solid #000;
  padding: 20px;
  margin: 10px;
}


header {
	width: 25%;
	float: left;
}

header .placeholder {
	height:90px;
}
nav {
	width:60%;
	float:right;
}

.navitem {
	width:25%;
	float:left;
	padding-top: 30px
}
 
.navitem .placeholder {
	height:20px;
}

.section-large {
	width: 100%;
	float:left;
	clear:both;
}

.section-large .placeholder {
	height:400px;
}

.section-small {
	float:left;
	width: 33.333%;
}

footer {
	float: left;
	width: 100%;
}

.clearfix {
	clear:both;
}